<div class="row">
  <div class="col">
    <ol class="list-group">
      @for (todo of todos(); track $index) {
        <li
          class="list-group-item">
          {{todo.name}} {{todo.content}}
          <i
            (click)="delete(todo)"
            class="bi bi-trash2"></i>
        </li>
      }
    </ol>
    <div class="alert alert-danger">
      Liste des todos de l'API /
      <button (click)="todosResource.reload()" class="btn btn-danger">
        Reload todos
      </button>
    </div>
    @if(!todosResource.isLoading()){
    <ol class="list-group list-group-warning ">
      @for (todo of todosResource.value(); track todo.id) {
        <li
          class="list-group-item">
          {{todo.title}}
        </li>
      }
    </ol>
    } @else {
      <div class="alert alert-info">
        isLoading...
      </div>
    }
    @if (todosResource.error()) {
      <div class="alert alert-danger">
        Il y a un problème
      </div>
    }
  </div>
  <div class="col">
    name:
    <input [(ngModel)]="todo().name" type="text" class="form-control" /> content:
    <input [(ngModel)]="todo().content" type="text" class="form-control" />
    <button
      (click)="addTodo()"
      [disabled]="!todo().name.trim() || !todo().content.trim()"
      class="btn btn-primary m-2"
    >
      add
    </button>
  </div>
</div>
<!-- <app-cv-page/> -->
